.PartnerCardWhiteContainer {
  position: relative;
  width: 260px;
  max-height: 550px;
  background-color: white;
  padding: 25px;
  overflow: hidden;

  .Texts {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: none;

    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #9c9c9c;
      margin-top: 20px;
      margin-bottom: 45px;
    }
    .subtitle {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 24px;
      color: #222f44;
      margin-bottom: 45px;
    }

    .text {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #7c8390;
    }

    button {
      position: absolute;
      bottom: 25px;
      left: 25px;
      border: none;
      background: none;
      font-family: "Poppins";
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
    }
  }

  @media (max-width: 1800px) {
    width: 320px;
  }

  @media (max-width: 1440px) {
    width: 260px;

    .Texts {
      .subtitle {
        font-size: 18px;
        line-height: 1.2;
      }
    }
  }

  @media (max-width: 1370px) {
    .Texts {
      .subtitle {
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }

  @media (max-width: 1074px) {
    width: 190px;
    max-height: 450px;
    padding: 15px;

    .Texts {
      .title {
        font-size: 12px;
        line-height: 1.2;
      }

      .subtitle {
        font-size: 14px;
        line-height: 1.2;
      }

      .text {
        font-size: 12px;
        line-height: 1.4;
      }
    }
  }

  @media (max-width: 1400px) {
    width: 240px;
    max-height: 620px;
  }

  @media (max-width: 1024px) {
    width: 190px;
    max-height: 660px;
  }

  @media (max-width: 980px) {
    width: 270px;

    .Texts {
      .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #9c9c9c;
        margin-top: 20px;
        margin-bottom: 45px;
      }
      .subtitle {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #222f44;
        margin-bottom: 45px;
      }

      .text {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #7c8390;
      }
    }
  }
}
