.cardCase-container {
  max-width: 225px;
  width: 100%;
  height: 215px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 44px;
  background-color: white;

  img {
    width: 130px;
    height: 140px;
    cursor: pointer;
  }

  @media (max-width: 980px) {
    padding: 10px;
    width: 160px;
    height: 160px;
    margin-bottom: 20px;

    img {
      width: 140px;
      height: 140px;
    }
  }

  @media (max-width: 450px) {
    padding: 10px;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}
