.commentContainer {
  display: flex;
  max-width: 370px;
  gap: 10px;
  .comments {
    .comment {
      font-family: "Poppins";
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #7a828f;
    }

    .person {
      margin-top: 18px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #222f44;
    }

    .brand {
      margin-top: 2px;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #222f44;
    }
  }

  @media (max-width: 1000px) {
    max-width: 330px;
  }
}
