.homeContainer {
  .slick-list {
    max-height: 680px;
  }

  .slick-next {
    z-index: 0;
    background-color: transparent !important;
    right: calc(16vw);

    @media (max-width: 1735px) {
      right: 100px;
    }

    @media (max-width: 910px) {
      right: 40px;
    }

    @media (max-width: 360px) {
      right: 30px;
    }

    &::before {
      content: "";
      display: flex;
      background: url(/src/assets/slider/arrowRight.svg);
      display: block;
      background-size: cover;
      width: 50px;
      height: 50px;
      opacity: 1;
    }
  }

  .slick-prev {
    z-index: 10;
    background: none;
    left: calc(15vw);
    background-color: transparent !important;

    @media (max-width: 1735px) {
      left: 100px;
    }

    @media (max-width: 910px) {
      left: 10px;
    }

    @media (max-width: 360px) {
      left: 15px;
    }
    &::before {
      content: "";
      display: flex;
      background: url(/src/assets/slider/arrowLeft.svg);
      display: block;
      background-size: cover;
      width: 50px;
      height: 50px;
      opacity: 1;
    }
  }

  .slick-dots {
    bottom: 50px;

    @media (max-width: 910px) {
      bottom: 30px;
    }

    .slick-active {
      button {
        &::before {
          color: #d3a93d;
        }
      }
    }

    li {
      button {
        &::before {
          color: white;
          opacity: 1;
        }
      }
    }
  }

  .slick-next:before,
  .slick-prev:before {
    opacity: none;
  }
}
