.Headline1Mob {
  color: var(--neutral-black, #212121);
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.Headline2Mob {
  color: var(--neutral-black, #212121);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.Headline3Mob {
  color: var(--neutral-black, #212121);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.Headline4Mob {
  color: var(--neutral-black, #212121);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.Body1Mob {
  color: var(--neutral-black, #212121);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.Body2Mob {
  color: var(--neutral-black, #212121);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.Body3Mob {
  color: var(--neutral-black, #212121);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
