.QuemSomosContainer {
  .topPage {
    background: #f5f5f5;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-transform: lowercase;
    height: 94px;
    display: flex;
    align-items: center;
    color: #d3a93d;
    .theContainer {
      @media (max-width: 1600px) {
        margin: 0 45px;
      }

      @media (max-width: 998px) {
        margin: 0 15px;
      }
    }

    @media (max-width: 998px) {
      font-size: 22px;
      height: 73px;
    }
  }

  .FirstSectionContainer {
    margin-top: 80px;

    .video {
      height: 400px;
      float: right;
      cursor: pointer;
      @media (max-width: 420px) {
        height: 200px;
      }
    }

    @media (max-width: 1024px) {
      margin-top: 30px;
    }

    .theContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1600px) {
        margin: 0 45px;
      }

      @media (max-width: 1024px) {
        margin: 0 15px;
        flex-wrap: wrap;
      }

      .right {
        @media (max-width: 1024px) {
          order: 1;
          width: 100%;
          margin-top: 30px;
        }

        width: 50%;

        h4 {
          font-weight: 500;
          font-size: 28px;
          line-height: 44px;
          color: #222f44;
          margin-bottom: 20px;

          @media (max-width: 720px) {
            font-size: 21px;
          }
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #7a828f;
          // width: 75%;
          margin-right: 25px;

          @media (max-width: 998px) {
            width: 100%;
          }
        }
      }

      .left {
        width: 50%;
        @media (max-width: 998px) {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
      }
    }
  }

  .partnersContainer {
    margin-top: 80px;
    margin-bottom: 80px;

    .theContainer {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @media (max-width: 1600px) {
        margin: 0 45px;

        .slider-mobile {
          display: none;

          .PartnerContainerDesktop {
            margin: 30px 0;
          }
        }
      }

      @media (max-width: 998px) {
        margin: 0 15px;

        .slider {
          display: none;
        }

        .slider-mobile {
          display: block;
        }
      }

      .dividerContainer {
        display: flex;
        .dividerName {
          width: auto;
          white-space: nowrap;
          padding-right: 10px;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #222f44;
        }
        .divider {
          width: 90%;
          height: 20px;
          border-top: 1px solid #e9eaec;
          position: relative;
          top: 10px;
        }
      }

      .top {
        h4 {
          font-weight: 500;
          font-size: 28px;
          line-height: 44px;
          color: #222f44;

          @media (max-width: 720px) {
            font-size: 22px;
          }
        }
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #7a828f;

          @media (max-width: 720px) {
            font-size: 14px;
          }
        }
        .slicks {
          display: flex;
          gap: 20px;
          float: right;

          button {
            border: none;
            background: none;
            cursor: pointer;
          }

          @media (max-width: 998px) {
            display: none;
          }
        }
      }

      .bottom {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        // justify-content: center;

        @media (max-width: 660px) {
          display: grid;
          grid-template-columns: 30% 30% 30%;
          grid-gap: 15px;
        }
      }
    }
  }

  .PrinciplesContainer {
    height: 689px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -80px;

    .theContainer {
      @media (max-width: 1600px) {
        margin: 0 45px;
      }

      @media (max-width: 998px) {
        margin: 0 15px;
      }
    }

    @media (max-width: 998px) {
      height: auto;
      padding-top: 40px;
      justify-content: flex-start;
      margin-bottom: 0px;
      padding-bottom: 100px;
    }

    .top {
      margin-bottom: 40px;
      font-weight: 500;
      font-size: 28px;
      line-height: 44px;
      color: #222f44;
    }

    .bottom {
      display: flex;
      justify-content: space-between;

      @media (max-width: 998px) {
        display: none;
      }
    }

    .accordion-button {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #222f44;

      &:nth-child(1) {
        border-top: 1px solid #a7acb4;
        border-bottom: none;
      }
    }

    .accordion-button:not(.collapsed) {
      box-shadow: none;
    }

    .accordion-button.collapsed {
      &:nth-child(1) {
        border-top: 1px solid #a7acb4;
        border-bottom: 1px solid #a7acb4;
      }

      border-bottom: 1px solid #a7acb4;
    }
    .accordion-body {
      border-bottom: 1px solid #a7acb4;
    }
  }

  .bottomMobile {
    @media (min-width: 998px) {
      display: none;
    }

    .accordion-body {
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    .accordion-item {
      background-color: transparent;
    }

    .accordion-button {
      background-color: transparent;
    }

    .PartnerCardWhiteContainer {
      height: 550px;
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      top: 105%;
    }

    .slick-dots li {
      margin: 0;
      width: 60px;
      height: 2px;
      background-color: #ccc;
      // border-radius: 4px;
      cursor: pointer;
    }

    .slick-dots li.slick-active {
      background-color: #333;
    }

    .slick-dots li button {
      display: none;
    }
  }
}

// MODAL

.ContainerModalMobileQuemSomos {
  .closeButtonModalQuemSomos {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 16px;
    right: 11px;
  }

  .titleModal {
    text-align: left;
    padding: 15px;
    background-color: white;
  }

  .bottomModal {
    margin-top: 25px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .DataContainer {
    display: flex;

    .description {
      display: flex;
      align-items: center;

      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      text-decoration-line: underline;
      color: #ffffff;
      margin-left: 10px;
    }
  }

  .QuemSomosImage {
    width: 100%;
  }
}

.ModalQuemSomos {
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;

  @media (min-width: 450px) {
    width: 400px !important;
    height: 650px !important;
  }
}

.accordion-item {
  border: none;
}
