.row-title {
  color: var(--marisa-black-90, #454242);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.868px;
}

.col-title {
  color: var(--neutral-grey, #717171);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.1px;
  padding: 1.5rem 0;
}

span {
  color: var(--neutral-l-grey, #89939e);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  padding: 0.5rem 0;
}
