.SomosUnicos {
  .topPage {
    background: #f5f5f5;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-transform: lowercase;
    height: 94px;
    display: flex;
    align-items: center;
    color: #d3a93d;

    @media (max-width: 998px) {
      font-size: 22px;
      height: 73px;
    }

    .theContainer {
      @media (max-width: 1600px) {
        margin: 0 45px;
      }

      @media (max-width: 1074px) {
        margin: 0 15px;
        flex-wrap: wrap;
      }

      @media (max-width: 998px) {
        margin: 0 20px;
      }
    }
  }

  .FirstSectionContainer {
    margin-top: 80px;

    @media (max-width: 1024px) {
      margin-top: 0px !important;
    }

    .theContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1600px) {
        margin: 0 45px;
      }

      @media (max-width: 1074px) {
        margin: 0 15px;
        flex-wrap: wrap;
      }

      @media (max-width: 998px) {
        margin: 0 25px;
      }

      .right {
        width: 50%;

        @media (max-width: 1024px) {
          order: inherit;
          width: 50%;
          margin-top: 30px;
        }

        @media (max-width: 998px) {
          order: 1;
          width: 100%;
          margin-top: 0px;
        }

        h4 {
          width: 75%;
          margin: 5rem 0 2rem 0;
          font-weight: 600;
          font-size: 40px;
          line-height: 50px;
          color: #222f43;

          @media (max-width: 998px) {
            width: 100%;
            font-size: 28px;
            line-height: 40px;
          }
        }

        p {
          width: 95%;
          color: #222f43;
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0.36px;
          margin-right: 25px;

          @media (max-width: 998px) {
            width: 100%;
          }
        }
      }

      .left {
        width: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 45rem;
          margin-top: 5rem;
          object-fit: cover;
          object-position: left;
        }

        @media (max-width: 1024px) {
          width: 50%;
          height: 50rem;
          position: relative;
          overflow: hidden;
          background-color: black;
          margin-top: 100px;

          img {
            width: 100%;
            height: 100%;
            position: relative;
            top: 50%;
            transform: translateY(-60%);
          }
        }

        @media (max-width: 998px) {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: auto;
          overflow: hidden;
          margin-top: 0;
          background: none;

          img {
            width: 100%;
            height: 20rem;
            transform: none;
          }
        }
      }
    }
  }

  .partnersContainer {
    margin-top: 130px;
    margin-bottom: 130px;

    .theContainer {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @media (max-width: 4000px) {
        .slider-mobile {
          display: none;
        }
        .PartnerContainerDesktop {
          margin: 30px 0;
        }
      }

      @media (max-width: 1600px) {
        margin: 0 45px;
      }

      @media (max-width: 1024px) {
        margin: 0 15px;
      }

      @media (max-width: 998px) {
        margin: 0 25px;

        .slider {
          display: none;
        }

        .slider-mobile {
          width: 100%;
          display: block;

          .slick-initialized .slick-slide {
            padding: 0 20px 0 0;
          }

          .slick-dots {
            top: 100%;
            right: 0;
          }

          .slick-dots li {
            margin: 0;
            width: 20px;
            height: 2px;
            background-color: #ccc;
            // border-radius: 4px;
            cursor: pointer;
          }

          .slick-dots li.slick-active {
            background-color: #333;
          }

          .slick-dots li button {
            display: none;
          }
        }
      }

      .dividerContainer {
        display: flex;
        .dividerName {
          width: auto;
          white-space: nowrap;
          padding-right: 10px;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #222f44;
        }
        .divider {
          width: 90%;
          height: 20px;
          border-top: 1px solid #e9eaec;
          position: relative;
          top: 10px;
        }
      }

      .top {
        display: flex;
        align-content: space-between;
        justify-content: space-between;

        .left {
          display: flex;
          gap: 2rem;

          .filters {
            margin-top: 1rem;
          }

          select {
            width: 15rem;
            height: 46px;
            border-radius: 9px;
            border: 2px solid #f5f5f5;
            margin-top: 1rem;
            padding: 0.5rem;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: #222f43;
            appearance: none;
            background-image: url(/src/assets/down-arrow.png);
            background-repeat: no-repeat;
            background-position: right 0.5rem center;
            background-size: 1rem;
          }

          @media (max-width: 720px) {
            display: block;

            .filters {
              margin-top: 0;
            }
          }
        }

        h4 {
          font-weight: 600;
          font-size: 40px;
          line-height: 50px;
          color: #222f43;

          @media (max-width: 720px) {
            font-size: 22px;
          }
        }
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #7a828f;

          @media (max-width: 720px) {
            font-size: 14px;
          }
        }
        .slicks {
          display: none;
          // display: flex;
          gap: 20px;
          float: right;
          margin-right: 2.5rem;

          button {
            border: none;
            background: none;
            cursor: pointer;
          }

          @media (max-width: 1024px) {
            margin-right: 0;
          }

          @media (max-width: 998px) {
            display: none;
          }
        }
      }

      .noSlider {
        display: inline-flex;
        gap: 8rem;

        @media (max-width: 998px) {
          display: block;
        }
      }

      .bottom {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        // justify-content: center;

        @media (max-width: 660px) {
          display: grid;
          grid-template-columns: 30% 30% 30%;
          grid-gap: 15px;
        }
      }

      .partner-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;

        @media (max-width: 660px) {
          display: none;
        }
      }
    }
  }

  .EspecialistContainer {
    margin-top: 130px;
    margin-bottom: 130px;
    background: #f5f5f5;

    @media (max-width: 1024px) {
      display: block;
      margin-top: 80px;
      margin-bottom: 80px;
    }

    @media (max-width: 998px) {
      height: auto;
      padding-top: 40px;
      justify-content: flex-start;
      margin-bottom: 0px;
      padding-bottom: 100px;
    }

    .theContainer {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 3rem 0;

      @media (max-width: 998px) {
        flex-direction: column;
      }

      .left {
        position: relative;
        margin: 2rem;
        width: 188px;
        height: 188px;
        background-color: #222f43;
        color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .left::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background-color: #cbaa58;
      }

      @media (max-width: 998px) {
        .left {
          margin: 2rem auto;
        }
      }

      .right {
        flex: 2;
        padding-left: 20px;

        .title {
          font-weight: 600;
          font-size: 40px;
          line-height: 50px;
          color: #222f43;
        }

        .text {
          width: 55%;
          margin-top: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #7a828f;
          position: inherit;
        }

        @media (max-width: 998px) {
          .text {
            width: 100%;
          }
        }
      }
    }
  }

  .GlobalContainer {
    margin-top: 130px;
    margin-bottom: 130px;

    @media (max-width: 1024px) {
      display: block;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    @media (max-width: 998px) {
      height: auto;
      padding-top: 40px;
      justify-content: flex-start;
      margin-bottom: 0px;
      padding-bottom: 100px;
    }

    .theContainer {
      display: flex;
      flex-direction: column;
      padding: 3rem 0;

      .top {
        h4 {
          font-weight: 600;
          font-size: 40px;
          line-height: 50px;
          color: #222f43;

          @media (max-width: 720px) {
            font-size: 22px;
          }
        }

        p {
          width: 75%;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #7a828f;
          margin-top: 1rem;

          @media (max-width: 720px) {
            font-size: 14px;
            width: 90%;
          }
        }
      }

      .bottom {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        margin-top: 3rem;

        @media (max-width: 720px) {
          display: block;
          width: 95%;
        }

        .column {
          padding: 1rem;

          @media (max-width: 720px) {
            padding: 1.5rem;
          }

          h4.yellow {
            color: #cba958;
            font-family: Poppins;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
          }

          p {
            margin-top: 2rem;
            color: #222f43;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }

      .ImageArea {
        .theContainer {
          width: 90%;
          display: flex;
          flex-direction: column;
          gap: 40px;
          margin-left: 0;

          img {
            margin-top: 3rem;
            width: auto;

            @media (max-width: 1024px) {
              width: 100%;
            }

            @media (max-width: 720px) {
              max-height: auto;
              width: 90vw;
            }
          }
        }
      }
    }
  }
}
