.containerNews {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 2rem;

  .newsImagem {
    width: 100%;
    height: 15rem;
    object-fit: cover;

    @media (max-width: 600px) {
      width: 110px;
      height: 150px;
    }
  }

  h5 {
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    margin: 2rem 0;

    color: #cbaa58;
  }

  h1 {
    margin: 2rem 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 0.025em;

    color: #222f43;
  }

  p {
    height: 10rem;
    overflow: hidden;
    margin-bottom: 1.5rem;

    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.02em;

    span {
      font-family: "Poppins" !important;
      color: #222f43 !important;
    }
  }

  a {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    color: #222f43;
    text-decoration: none;

    border-bottom: 1px solid #222f43;
    padding-bottom: 4px;
  }
}
