* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.theContainer {
  margin: 0 277px;

  @media (max-width: 1735px) {
    margin: 0 15px;
  }

  @media (max-width: 1000px) {
    margin: 0 10px;
  }
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
